:root {
  --clr-light: #242732;
  --clr-medium: #1f2229;
  --clr-dark: #1a1c22;

  --clr-accent-primary: #59c3c3;
  --clr-accent-secondary: #fdfffc;

  --clr-text-primary: white;
  --clr-text-secondary: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-accent-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 100vh;
  background-color: var(--clr-medium);
  color: var(--clr-text-primary);
  padding: 40px;
}

nav {
  background-color: var(--clr-dark);
  text-align: center;
  padding: 20px 0;
}

nav a {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 40px;
}
nav a:hover {
  color: var(--clr-accent-primary);
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  position: relative;
}

.board {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-medium);
}

.column {
  background-color: #dfe3e6;
  background-color: var(--clr-light);
  border-radius: 2px;
  width: 25%;
  padding: 1rem;
  height: 100%;
  margin: 1rem 0.5rem;
  border-radius: 5px;
}

.column h3 {
  color: var(--clr-text-primary);
}

.card {
  margin: 0 0 1rem 0;
  padding: 0.75rem;
  max-width: 100%;
  word-wrap: break-word;
  box-shadow: 0 0 2px white;
  border-radius: 5px;
  background: var(--clr-medium);
  color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.boards-section {
  margin: auto;
  max-width: 80%;
}

/* .boards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  max-width: 420px;
  min-height: 400px;
}

/* a,
a:visited {
  color: #fff;
} */

input[type="text"],
input[type="password"],
.register-form button,
.login-form button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

.register-form button,
.login-form button {
  padding: 0.5rem;
  background-color: #454b1b;
  color: #dfe3e6;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.card h4 {
  margin: 0;
}

.board-title {
  background-color: var(--clr-medium);
}

.board-title h1 {
  margin: 0;
  padding: 1rem;
  color: var(--clr-text-primary);
}

.newcol-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 140px;
}

.newcol-btn {
  margin: 1rem;
}

main a {
  color: var(--clr-text-primary);
}

article {
  padding: 1rem;
}

section h2 {
  padding: 1rem;
}

.btn {
  background-color: var(--clr-accent-primary);
  border-radius: 7px;
  padding: 0.5em 0.75em;
  color: var(--clr-text-secondary);
  font-weight: bold;
  border: 1px solid;
}

.btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-text-primary);
  border: 1px solid var(--clr-accent-primary);
}

.column h3 {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-accent-primary);
  text-decoration-thickness: 3px;
}

.add-task-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-task-btn {
  margin-bottom: 1rem;
  min-width: 90%;
  margin-inline: auto;
}

.new-project-btn {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.modal .form-group {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.modal .form-group input {
  height: 1.25rem;
}

.modal .form-control div label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.modal .form-control input {
  background-color: var(--clr-dark);
  color: var(--clr-text-primary);
}

.modal .form-control .react-datepicker-popper {
  display: block;
  margin-bottom: 0;
}
